.main
  %section.main-visual
    .main-visual__content
      %h2.main-visual__content__subtitle
        %br
        人生を変えるフリマアプリ
      %p.main-visual__content__text
        FURIMAはだれでもかんたんに出品・購入できる
        %br
        フリマアプリです
      .main-visual__content__btn
        %a.main-visual__content__btn__apple{ :href => '#'}
          %img{src: "/assets/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"}
        %a.main-visual__content__btn__google{ :href => '#'}
          %img{src: "/assets/google-play-badge.png"}
  %section.top-introduction
    %h2.top-introduction__subtitle
      FURIMAが選ばれる3つの理由
    %ul.top-introduction__lists
      %li.top-introduction__lists__list
        .top-introduction__lists__list__pict
          %span.top-introduction__lists__list__pict__num 1
          %img{src: "/assets/pict-reason-01.jpg"}
        .top-introduction__lists__list__text
          %span 3分
          ですぐに出品
        %p.top-introduction__lists__list__descripution
          スマホで入力するだけで簡単に出品できる！
      %li.top-introduction__lists__list
        .top-introduction__lists__list__pict
          %span.top-introduction__lists__list__pict__num 2
          %img{src: "/assets/pict-reason-02.jpg"}
        .top-introduction__lists__list__text
          %span シンプル
          で使いやすい
        %p.top-introduction__lists__list__descripution
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.top-introduction__lists__list
        .top-introduction__lists__list__pict
          %span.top-introduction__lists__list__pict__num 3
          %img{src: "/assets/pict-reason-03.jpg"}
        .top-introduction__lists__list__text
          手数料
          %span 業界最安
        %p.top-introduction__lists__list__descripution
          最大3%でお得に出品&購入！
  %section.top-imagevisual
    .top-imagevisual__inner
      %h2.top-imagevisual__inner__subtitle 会員数日本一位
      %p.top-imagevisual__inner__text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .top-imagevisual__inner__btn
        %a.top-imagevisual__inner__btn__apple{ :href => '#'}
          %img{src: "/assets/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"}
        %a.top-imagevisual__inner__btn__google{ :href => '#'}
          %img{src: "/assets/google-play-badge.png"}
  %section.top-key
    %h2.top-key__head
      FURIMAの特徴
    .top-key__items
      %section.top-key__items__item
        %figure.top-key__items__item__img
          %img{src: "/assets/icon-01.png"}
        %h3.top-key__items__item__subtitle
          簡単に売り買いできる
        %p.top-key__items__item__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.top-key__items__item
        %figure.top-key__items__item__img
          %img{src: "/assets/icon-03.png"}
        %h3.top-key__items__item__subtitle
          売上金は即日振込みに対応
        %p.top-key__items__item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %section.top-key__items__item
        %figure.top-key__items__item__img
          %img{src: "/assets/icon-04.png"}
        %h3.top-key__items__item__subtitle
          様々な支払いに対応
        %p.top-key__items__item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

  %section.pickup-category
    %h2.pickup-category__head ピックアップカテゴリー
    .pickup-category__product
      .pickup-category__product__head
        %a{ :href => '#'}
          %h3.pickup-category__product__head__title 新規投稿商品
    .pickup-category__lists
      .pickup-category__lists__list
        %a{ :href => '#'}
          %figure.pickup-category__lists__list__img
            %img{src: "/assets/image01.jpg"}
          .pickup-category__lists__list__body
            %h3.pickup-category__lists__list__body__name products3
            .pickup-category__lists__list__body__details
              %ul
                %li 30000円
                %li
                  %i.fas.fa-star
                  0
              %p (税込)
      .pickup-category__lists__list
        %a{ :href => '#'}
          %figure.pickup-category__lists__list__img
            %img{src: "/assets/image02.jpg"}
          .pickup-category__lists__list__body
            %h3.pickup-category__lists__list__body__name products2
            .pickup-category__lists__list__body__details
              %ul
                %li 20000円
                %li
                  %i.fas.fa-star
                  0
              %p (税込)
      .pickup-category__lists__list
        %a{ :href => '#'}
          %figure.pickup-category__lists__list__img
            %img{src: "/assets/image03.jpg"}
          .pickup-category__lists__list__body
            %h3.pickup-category__lists__list__body__name products1
            .pickup-category__lists__list__body__details
              %ul
                %li 10000円
                %li
                  %i.fas.fa-star
                  0
              %p (税込)

  %section.pickup-category
    %h2.pickup-category__head ピックアップブランド
    .pickup-category__product
      .pickup-category__product__head
        %a{ :href => '#'}
          %h3.pickup-category__product__head__title アーカイブ
    .pickup-category__lists
      .pickup-category__lists__list
        %a{ :href => '#'}
          %figure.pickup-category__lists__list__img
            %img{src: "/assets/image01.jpg"}
          .pickup-category__lists__list__body
            %h3.pickup-category__lists__list__body__name products3
            .pickup-category__lists__list__body__details
              %ul
                %li 30000円
                %li
                  %i.fas.fa-star
                  0
              %p (税込)
      .pickup-category__lists__list
        %a{ :href => '#'}
          %figure.pickup-category__lists__list__img
            %img{src: "/assets/image02.jpg"}
          .pickup-category__lists__list__body
            %h3.pickup-category__lists__list__body__name products2
            .pickup-category__lists__list__body__details
              %ul
                %li 20000円
                %li
                  %i.fas.fa-star
                  0
              %p (税込)
      .pickup-category__lists__list
        %a{ :href => '#'}
          %figure.pickup-category__lists__list__img
            %img{src: "/assets/image03.jpg"}
          .pickup-category__lists__list__body
            %h3.pickup-category__lists__list__body__name products1
            .pickup-category__lists__list__body__details
              %ul
                %li 10000円
                %li
                  %i.fas.fa-star
                  0
              %p (税込)

%aside.banner
  .banner__inner
    %h2.banner__inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.banner__inner__text 今すぐ無料ダウンロード！
    .banner__inner__icon
      %a.banner__inner__icon__btn-apple{ :href => '#'}
        %img{src: "/assets/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg"}
      %a.banner__inner__icon__btn-google{ :href => '#'}
        %img{src: "/assets/google-play-badge.png"}

%a{ :href => '#'}
  .purchase-btn
    %span.purchase-btn__text 出品する
    %img.purchase-btn__icon{src: "/assets/icon_camera.png"}