* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.favorite_box_release_btn{
  position: absolute;
  right: 10px;
  bottom: 26px;
  text-decoration: none;
  color: red;
  border: none;
  background-color: #fff;
  font-size: 13px;
  cursor: pointer;
  .far.fa-heart{
    margin-right: 3px;
  }
  .release_count{
    color: #333; 
  }
}

.favorite_box_registration_btn{
  position: absolute;
  right: 10px;
  bottom: 26px;
  text-decoration: none;
  color: #999999;
  border: none; 
  background-color: #fff;
  font-size: 13px;
  cursor: pointer;
  &:hover{
    color: red;
  }
  .far.fa-heart{
    margin-right: 3px;
  }
  .registration_count{
    color: #333; 
  }
}