@mixin product-form-text_field{
  width: 600px;
  height: 48px;
  margin: 8px 0 0;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 15px; 
}

@mixin product-form-select{
  width: 612px;
  height: 48px;
  margin: 8px 0 0;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 15px; 
  background-color: #fff;
}

.product--main{
  height: 2199px;
  width: 100%;
  background-color: menu;
  &__container{
    background-color: white;
    width: 700px;
    height: 2199px;
    margin: 0 auto;
    &__head{
      text-align: center;
      font-size: 22px;
      border-bottom: solid 1px #f5f5f5;
      height: 219px;
      max-height: 400px;
      padding: 40px;
      text{
        font-weight: 600;
        font-size: 14px;
        color: #333333;
        float: left;
      }
      span{
        background-color: #ea352d;
        color: #fff;
        border-radius: 2px;
        font-size: 12px;
        padding: 1px 4px;
        margin: 0 0 0 8px;
        float: left;
      }
      .js-file{
        display: none;
      }
      .js-file_group{
        width: 114px;
        height: 30px;
        border-style: dotted;
        border-color: #ccc;
        border-width: 2px;
        background-color: #eeeeee; 
        cursor: pointer;
        float: left;
        position: relative;
        margin: 3px;
      }
      .js-remove{
        color: #3CCACE;
        font-size: 15px;
        position: absolute;
        top: 4.5px;
        left: 43px;
      }
      #previews{
        display: flex;
      }
      img.js-file_image{
        margin: 12px;
      }
    }
    &__description{
      // height: 310px;
      margin: 0 auto;
      padding: 40px;
      border-bottom: solid 1px #f5f5f5;
      .form--group{
        width: 600px;
        height: 99px;
      }
      .form--group label{
        font-weight: 600;
        font-size: 14px;
        color: #333333;
      }
      span{
        background-color: #ea352d;
        color: #fff;
        border-radius: 2px;
        font-size: 12px;
        padding: 4px 4px;
        margin: 0 0 0 8px;
      }
      .product--name{
        @include product-form-text_field;
      }
      .product--detail{
        margin: 8px 0 0;
        padding: 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 15px; 
      }
    }
    &__details{
      // height: 310px;
      margin: 0 auto;
      padding: 40px;
      border-bottom: solid 1px #f5f5f5;
      p.product--form__description{
        color: #888;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .form--group{
        width: 600px;
        // height: 99px;
        margin-bottom: 25px;
      }
      .form--group label{
        font-weight: 600;
        font-size: 14px;
        color: #333333;
      }
      span{
        background-color: #ea352d;
        color: #fff;
        border-radius: 2px;
        font-size: 12px;
        padding: 4px 4px;
        margin: 0 0 0 8px;
      }
      span.default{
        background-color: #c0c0c0;
        color: #fff;
        border-radius: 2px;
        font-size: 12px;
        padding: 4px 4px;
        margin: 0 0 0 8px;
      }
      &__category__child{
        margin-bottom: 16px;
      }
      &__category__grandchild{
        margin-bottom: 25px;
      }
      #product_parent_category_id{
        @include product-form-select;
      }
      #product_child_category_id{
        @include product-form-select;
      }
      #product_grandchild_category_id{
        @include product-form-select;
      }
      .product--brand{
        @include product-form-text_field;
      }
      #product_condition{
        @include product-form-select;
      }
    }
    &__delivery{
      // height: 310px;
      margin: 0 auto;
      padding: 40px;
      border-bottom: solid 1px #f5f5f5;
      p.product--form__description{
        color: #888;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .form--group{
        width: 600px;
        height: 99px;
      }
      .form--group label{
        font-weight: 600;
        font-size: 14px;
        color: #333333;
      }
      span{
        background-color: #ea352d;
        color: #fff;
        border-radius: 2px;
        font-size: 12px;
        padding: 4px 4px;
        margin: 0 0 0 8px;
      }
      #product_shopping_charges{
        @include product-form-select;
      }
      #product_delivery_area{
        @include product-form-select;
      }
      #product_delivery_date{
        @include product-form-select;
      }
    }
    &__price{
      height: 160px;
      margin: 0 auto;
      padding: 40px;
      border-bottom: solid 1px #f5f5f5;
      p.product--form__description{
        color: #888;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .form--group{
        width: 610px;
        height: 99px;
      }
      .form--group label{
        font-weight: 600;
        font-size: 14px;
        color: #333333;
      }
      span{
        background-color: #ea352d;
        color: #fff;
        border-radius: 2px;
        font-size: 12px;
        padding: 4px 4px;
        margin: 0 0 0 8px;
        line-height: 48px;
      }
      text{
        margin-left: 180px;
      }
      .product--price{
        width: 300px;
        height: 48px;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 15px; 
        float: right;
        text-align: right;
      }
      p.product--form__note{
        color: #333333;
        font-size: 13px;
      }
    }
    &__submit{
      margin: 0 auto;
      padding: 40px 40px;
      p.product--form__description{
        color: #888;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .product--submit__btn{
        width: 400px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid #3CCACE;
        font-size: 15px; 
        background-color: #3CCACE;
        color: #fff;
        font-weight: bold;
        margin: 0 auto;
        display: block;
      }
      a{
        margin: 40px auto;
        text-align: center;
        display:block;
        width: 400px;
        height: 50px;
        border-radius: 4px;
        line-height: 50px;
        font-weight: bold;
        border: 1px solid ;
        border: 1px solid #ccc;
        background-color: #ccc;
        font-size: 15px;
        text-decoration: none;
        color: black;
      }
      p.product--form__note{
        color: #333333;
        font-size: 12px;
      }
    }
  }
}
