.contents{
  overflow: scroll;
}

.divise--header{
  background-color: menu;
  width: 100%;
  height: 128px;
  text-align: center;
  img{
    margin-top: 40px;
    width: 185px;
    height: 49px;
    line-height: 49px;
  }
}

@mixin register-form-text_field{
  width: 352px;
  height: 48px;
  margin: 8px 0 0;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 15px; 
}

@mixin register-form-name_field{
  width: 160px;
  height: 48px;
  margin: 8px 0 0;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 15px; 
}

.devise--main{
  height: 1199px;
  width: 100%;
  background-color: menu;
  &__container{
    background-color: white;
    width: 700px;
    height: 1199px;
    margin: 0 auto;
    &__head{
      text-align: center;
      font-size: 22px;
      border-bottom: solid 1px #f5f5f5;
      h2{
        font-weight: bold;
        padding: 32px;
        color: #333333;
      }
    }
    &__form{
      width: 370px;
      height: 847px;
      margin: 0 auto;
      padding: 24px 16px 40px;
      .form--group{
        width: 370px;
        height: 99px;
      }
      .form--group label{
        font-weight: 600;
        font-size: 14px;
        color: #333333;
      }
      span{
        background-color: #ea352d;
        color: #fff;
        border-radius: 2px;
        font-size: 12px;
        padding: 4px 4px;
        margin: 0 0 0 8px;
      }
      .register--nickname{
        @include register-form-text_field;
      }
      .register--email{
        @include register-form-text_field;
      }
      .register--password{
        @include register-form-text_field;
      }
      p.form--note{
        margin: 0 8px;
        color: #888;
        font-size: 14px;
      }
      h3{
        margin-top: 5px;
        font-weight: bold;
        color: #333333;
      }
      p.form--description{
        margin-top: 8px;
        color: #333333;
        font-size: 14px;
      }
      .register--family_name__kanji{
        @include register-form-name_field;
      }
      .register--first_name__kanji{
        float: right;
        @include register-form-name_field; 
      }
      .register--family_name__kana{
        @include register-form-name_field;
      }
      .register--first_name__kana{
        float: right;
        @include register-form-name_field; 
      }
      .year, .month, .day{
        width: 80px;
        height: 48px;
        margin: 8px 0 0;
        border-radius: 4px;
        border: 1px solid #ccc;
        font-size: 15px; 
      }
      p.form--submit__note{
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
        color: #888;
        font-size: 14px;
      }
      p.form--submit__description{
        text-align: center;
        margin: 30px 0;
        color: #333333;
        font-size: 14px;
      }
      .register--submit__btn{
        color: #fff;
        border: 1px solid ;
        background-color: #3CCACE;
        width: 370px;
        height: 60px;
        font-size: 15px;
      }
      .register--postal__code{
        @include register-form-text_field;
      }
      #address_prefecture{
        background-color: #fff;
        @include register-form-text_field;
      }
      .register--city{
        @include register-form-text_field; 
      }
      .register--address__number{
        @include register-form-text_field;
      }
      .register--building{
        @include register-form-text_field;
      }
      .register--phone__number{
        @include register-form-text_field; 
      }
      span.default{
        background-color: #c0c0c0;
        color: #fff;
        border-radius: 2px;
        font-size: 12px;
        padding: 4px 4px;
        margin: 0 0 0 8px;
      }
    }
  }
}

.complete--main{
  height: calc( 100vh - 348px );
  width: 100%;
  background-color: menu;
  &__container{
    background-color: white;
    width: 456px;
    height: 300px;
    margin: 0 auto;
    h2{
      font-weight: bold;
      padding: 32px;
      color: #333333;
      text-align: center;
    }
    a{
      margin: 0 auto;
      text-align: center;
      display:block;
      width: 370px;
      height: 60px;
      line-height: 60px;
      color: #fff;
      border: 1px solid ;
      background-color: #3CCACE;
      font-size: 15px;
      text-decoration: none;
    }
  }
}

.devise--footer{
  width: 100%;
  height: 220px;
  text-align: center;
  background: #333333;
  nav{
    padding: 30px 0px;
  }
  nav ul li{
    display: inline;
    font-size: 12px;
    color: white;
  }
  li{
    padding: 0 20px;
  }
  img{
    width: 160px;
    height: 49px;
  }
  p.logo--link{
    font-size: 13px;
    color: #fff;
  }
}
