.contents
  .divise--header
    .devise--header__logo
      = image_tag 'logo.png'
  .product--main
    - if current_user.id == @product.user.id
      = render partial: 'form', locals: { product: @product }
  .devise--footer
    %nav
      %ul 
        %li 
          プライバシーポリシー
        %li 
          FURIMA利用規約
        %li 
          特定商取引に関する表記   
    .devise--footer_logo
      = image_tag 'logo-white.png'
      %p.logo--link @FURIMA